.form-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.title-of-form {
  font-size: 40px;
  color: #1162ae;
  margin: 0;
}

.toggle-link {
  color: #b41919;
  font-weight: 400;
  letter-spacing: 2px;
}

.form,
.form-area {
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 70vw;
  max-width: 900px;
  overflow: auto;
}

.form::-webkit-scrollbar {
  display: none;
}

.form-area::-webkit-scrollbar {
  display: none;
}

.form-area {
  background-color: #1162ae;
  min-width: 270px;
  justify-content: start;
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.form-elements input {
  font-size: 1.1rem;
  outline: none;
  width: 90%;
  max-width: 600px;
  min-width: 220px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;

}

.see-pass {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 660px;
  min-width: 220px;
  position: relative;
}

.see-pass img,
.see-pass button {
  width: 20px;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 7%;
  top: 28%;
  user-select: none;
}

.see-pass button {
  width: auto;
  right: 4%;
  top: 34%;
}

.form-label {
  color: #ffffff;
  width: 90%;
  max-width: 600px;
  min-width: 220px;
}

.small {
  width: calc(100% - 40px);
  text-align: left;
  color: #ec8e87fb;
}

.submit-form-btn {
  padding: 14px 40px;
  border: none;
  border-radius: 12px;
  background-color: #1162ae;
  color: #ffffff;
}


@media (max-width: 375px) {

  .title-of-form {
    font-size: 1.8rem;
  }

  .toggle-link {
    font-size: 0.6rem;
  }

  .form,
  .form-area {
    width: 95vw;
    min-width: 270px;
  }

  .form {
    height: 600px;
  }
}

.otp-popup {
  position: absolute;
  background-color: #1f1e1e81;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* >>>>>>>>>>>>>>>>>>>>>>OTP AREA<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* .otp-areea {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 70vw;
  min-width: 300px;
  max-width: 900px;
  height: 500px;
  box-shadow: 0 0 20px #00000083;
}

.otp-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-heading h1 {
  padding-top: 10px;
  color: #1162ae;
  text-align: center;
}

.otp-heading p {
  padding-bottom: 10px;
  color: #b41919;
  cursor: pointer;
  text-decoration: underline;
}

.otp-form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-label {
  margin-top: 20px;
  margin-bottom: 8px;
  width: 90%;
  font-size: 1.2rem;
  color: #1162ae;
}

.otp-form-child {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}

.otp-form-child input {
  letter-spacing: 12px;
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 20px 10px;
  padding-left: 25px;
}

.otp-form-child img {
  position: absolute;
  width: 25px;
  right: 7%;
  top: 37%;
  cursor: pointer;
}

.submit-otp {
  font-size: 1.4rem;
}

@media (max-width: 530px) {

  .otp-heading h1 {
    font-size: 1.7rem;
  }

  .otp-form-child input {
    font-size: 1rem;
    padding: 10px 6px;
  }

  .otp-form-child img {
    top: 30%;
    width: 22px;
  }

}

@media (max-width: 380px) {

  .otp-heading h1 {
    font-size: 1rem;
  }

  .otp-heading p {
    font-size: 0.9rem;
  }
} */

#OTP {
  letter-spacing: 20px;
}