.reglog-hook-main {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  display: flex;
  padding: 5px;
  justify-content: start;
  align-items: start;
  margin-top: 5px;
  height: 50px;
  overflow: hidden;
}

.logo h1 {
  background-color: #0a14a5;
  padding: 10px;
  border-radius: 25%;
  font-size: 1.2rem;
  color: #f0f8ff;
  margin-left: 8px;
}

.logo h2 {
  font-size: 2.2rem;
  margin-left: 5px;
  color: #0a14a5;
}

.reglog-hook-content {
  flex: 1;
  width: 100%;
}

.heading-undermain h1,
.heading-undermain p {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  align-items: start;
  justify-content: start;
  color: #000000e1;
  margin: 0;
  margin-left: 10px;
  background: transparent;
}

.heading-undermain p {
  font-weight: 500;
}


.regiistration-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.regiistration-area::-webkit-scrollbar {
  display: none;
}

.email-registration {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  background-color: #09b634a4;
  min-height: 335px;
  height: 50vh;
  border-radius: 12px;
}

.email-registration .input-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

#input {
  width: 30%;
  font-size: 1.2rem;
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  flex: 1;
  margin: 0 10px;
}

.email-registration img {
  position: absolute;
  width: 20px;
  right: 4%;
  top: 30%;
}

.other-param {
  margin-top: 5px;
  display: flex;
  margin: 0 10px;
}

.other-param p {
  color: #000;
}

.dob,
.gender {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gender div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.already-reg {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dob p {
  color: #f0f8ff;
}

.submit-btn {
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 26px;
  font-size: 1.2rem;
  width: 20vw;
  border: none;
  background-color: #0a14a5;
  border-radius: 12px;
  color: aliceblue;
  cursor: pointer;
}

.google-registration {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Querries */
@media (max-width: 780px) {
  .heading-undermain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .input-group #input {
    font-size: 1rem;
  }

  .other-param {
    flex-wrap: wrap;
  }

  .email-registration img {
    top: 30%;
    right: 0.6%;
  }
}

@media (max-width: 610px) {


  .logo {
    justify-content: center;
  }

  .logo h1 {
    font-size: 1.1rem;
  }

  .other-param {
    display: block;
  }

  .heading-undermain h1 {
    font-size: 1.5rem;
  }

  .heading-undermain p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .email-registration {
    width: calc(100% - 40px);
  }

  .input-group {
    display: flex;
    justify-content: center;
  }

  .email-registration img {
    width: 17px;
    right: 6%;
    top: 33%;
  }

  .submit-btn {
    padding: 10px 10px;
    font-size: 12px;
    width: 30vw;
  }

  #input,
  .other-param {
    margin: 0 5px;
  }

  .logo h1 {
    font-size: 0.8rem;
  }

  .logo h2 {
    font-size: 1.8rem;
  }

  .heading-undermain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .heading-undermain h1 {
    display: block;
  }

  .heading-undermain p {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {

  .logo {
    padding: 5px;
    margin-top: 5px;
  }


  .logo h1 {
    padding: 5px;
    font-size: 1rem;
  }

  .logo h2 {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  .regiistration-area {
    height: 80%;
  }

  .flip-card {
    width: 94vw;
    height: 86vh;
  }

  .dob {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .dob p {
    color: #000;
  }
}