:root {
  --blue: #1162ae;
  --red: #b41919;
  --green: #29d82b;
  --lightgray: #ececec;
  --darkgray: #8f8e8e;

}


#main-area-nav {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

.content-home {
  background-color: aliceblue;
  flex: 2;
  display: flex;
  flex-direction: column;
  color: var(--blue);
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100vh - 60px);
}


.content-home h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: left;
  padding-top: 20px;
  margin: 0;
}

.content-home p {
  font-size: 35px;
}

.content-home b {
  color: var(--red);
}

.more-ofit,
.button-area-home {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  gap: 20px;
}

.more-ofit p {
  flex: 1;
  font-size: 30px;
}

.button-area-home {
  margin: 0 auto;
  width: 80%;
  height: 60px;
  justify-content: space-between;
}

.button-area-home button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  padding: 20px 30px;
  border: none;
  background-color: var(--blue);
  color: var(--lightgray);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.13s ease-in-out;
}

.button-area-home button:hover {
  box-shadow: 0 0 10px #000000a8;
}

.btn-img {
  width: 25px;
}

/* Form styles */

.login-aside {
  flex: 1;
}

.login-aside h1 {
  margin: 0 auto;
  margin-top: 15px;
  width: 86%;
  max-width: 600px;
  margin-bottom: 0;
  text-align: left;
  color: var(--blue);
  font-size: 30px;
}

.register {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  padding-right: 25px;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  height: calc(90vh - 100px);
  max-width: 600px;
  max-height: 550px;
  justify-content: space-between;
  border: 1px solid var(--blue);
  margin-bottom: 30px;
}



.input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register input {
  height: 35px;
  width: 100%;
  border-radius: 7px;
  padding: 5px 5px;
  padding-right: 0;
  border: 1px solid var(--blue);
  font-size: 1.3rem;
}

.otp-div,
.enter-otp,
.enter-password {
  display: flex;
  position: relative;
}

#email-btn,
#pass-btn,
#otp-btn {
  position: absolute;
  right: 0;
  top: 10%;
  font-size: 1.2rem;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#email-btn {
  background-color: transparent;
}

.otp-div input {
  font-size: 1.1rem;
}

#pass-btn,
#otp-btn {
  width: 27px;
  top: 5%;
}

.enter-otp input,
.enter-password input {
  letter-spacing: 20px;
  padding-left: 15px;
}

.enter-password input {
  letter-spacing: normal;
}

#register-btn {
  border: none;
  width: 300px;
  margin: 0 auto;
  height: 60px;
  background-color: var(--blue);
  color: var(--lightgray);
  font-size: 1.4rem;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}


@media (max-width:1220px) {

  .content-home h1 {
    font-size: 50px;
  }

  .content-home p {
    font-size: 25px;
  }

  .button-area-home button {
    font-size: 1.4rem;
    padding: 15px 25px;
  }

  .button-area-home {
    width: 90%;
  }

}

@media (max-width:780px) {
  #main-area-nav {
    display: block;
  }

  .content-home {
    height: calc(100vh - 60px);
  }

  .content-home h1 {
    font-size: 40px;
  }

  .content-home p {
    font-size: 20px;
  }

  .button-area-home button {
    font-size: 1.2rem;
    padding: 15px 25px;
    margin-bottom: 30px;
  }

  .button-area-home {
    width: 100%;
  }

}

@media (max-width:480px) {

  .content-home h1 {
    font-size: 36px;
  }

  .content-home p {
    font-size: 22px;
  }

  .more-ofit p {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .button-area-home button {
    font-size: 1.13rem;
    padding: 15px;
  }

  .btn-img {
    width: 18px;
  }

  .button-area-home button:hover {
    box-shadow: none;
  }

}

@media (max-width:390px) {

  .content-home h1 {
    font-size: 30px;
  }

  .content-home p {
    font-size: 20px;
  }

  .more-ofit p {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .button-area-home button {
    font-size: 14px;
    padding: 15px;
  }

  .btn-img {
    width: 15px;
  }

  .otp-div input {
    font-size: 1rem;
  }

  .enter-otp input {
    letter-spacing: 10px;
    padding-left: 15px;
  }

  .input-area input {
    font-size: 14px;
  }

  #email-btn {
    font-size: 14px;
    top: 15%;
  }
}