:root {
  --blue: #1162ae;
  --red: #b41919;
  --green: #29d82b;
  --lightgray: #ececec;
  --darkgray: #8f8e8e;

}

.real-nav-area {
  display: flex;
  overflow: hidden;
  color: whitesmoke;
  background-color: var(--blue);
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.real-nav-area h1,
.real-nav-area p {
  cursor: pointer;
  user-select: none;
}

.nav-uls {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.nav-links {
  cursor: pointer;
}

.nav-links a,
.real-nav-area h1 a {
  cursor: pointer;
  text-decoration: none;
  color: var(--lightgray);
}

#menu-btn {
  display: none;
  background-color: transparent;
  border: none;
}

#menu-img {
  width: 40px;
}

.phone-menu {
  display: none;
  background-color: var(--blue);
  height: calc(100vh - 60px);
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 200px;
  z-index: 200;
  margin-bottom: 300px;
  /* Add this line */
}

.phone-uls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  justify-content: space-evenly;
  list-style: none;
  color: var(--lightgray);
}

@media (max-width: 620px) {

  .nav-uls,
  .real-nav-area p {
    display: none;
  }

  #menu-btn {
    display: block;
  }

  .phone-menu {
    display: block;
    transition: ease-in-out 0.14s;
  }

  .nav-links-phone a {
    color: #ececec;
    text-decoration: none;
    font-size: 1.2rem;
  }
}