/* Loaidng CSS */
.loading-br-news {
  margin: 0 auto;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 12px;
  padding: 25px;
  margin-top: 30px;
  width: 90vw;
  max-width: 1080px;
  min-width: 260px;
  height: 15vw;
  max-height: 250px;
  min-height: 140px;
}

.img-loadig-br,
.text-loading-br {
  background-color: #EEEEEE;
  flex: 1;
  animation: loading 0.7s infinite alternate;
}

.text-loading-br {
  background-color: transparent;
  flex: 2;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-loading-br div {
  background-color: #EEEEEE;
  flex: 1;
  border-radius: 12px;
  animation: loading 0.7s infinite alternate;
}

@keyframes loading {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 670px) {
  .loading-br-news {
    gap: 10px;
    padding: 10px;
  }

  .img-loadig-br,
  .text-loading-br {
    background-color: #EEEEEE;
    flex: 1;
  }

  .text-loading-br {
    background-color: transparent;
    flex: 2;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-loading-br div {
    background-color: #EEEEEE;
    flex: 1;
    border-radius: 12px;
  }
}