.loading-placeholder {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.main-news-origin {
  display: flex;
  flex-direction: column;
  width: 90vw;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 #00000049;
  margin-top: 20px;
  padding: 14px;
  background-color: aliceblue;
}

.main-news-origin h1 {
  text-align: center;
}

.main-news-origin h1 b {
  color: #f30404c2;
  text-decoration: underline;
}

.main-news-main-img {
  width: 80%;
  max-width: 1080px;
  min-width: 240px;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}

.main-news-main-img:hover {
  box-shadow: 0 0 7px 0 #000000b7;
}

.date-pubname p b {
  color: #8f0d0dc2;
}

.nameanddate {
  font-size: 1.25rem;
}

.main-news-origin p,
.like-dislike {
  width: 100%;
}

.p-content button {
  background: transparent;
  border: none;
  color: #004ef7;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 480px) {

  .main-news-origin {
    width: 80vw;
  }

  .main-news-origin h1 {
    font-size: 1.2rem;
  }

  .nameanddate {
    font-size: 1rem;
    text-align: center;
  }

  .p-content {
    font-size: 1.23rem;
  }

}