.search-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-button {
  background-color: #256ecf;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.search-button:hover {
  background-color: #1a5fb4;
}

.history {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.history li:last-child {
  border-bottom: none;
}