body,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: Oswald, sans-serif;
}

a {
  text-decoration: none;
  font-family: Edu VIC WA NT Beginner, Roboto, sans-serif;
}

p,
div {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.def-btn {
  background-color: #000000;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.13s ease-in-out;
  opacity: 0.87;
  font-family: sans-serif;
}

.def-btn:hover {
  opacity: 1;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.overlayer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0000003a;
}

.loader-loadig-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  top: 50%;
  border-radius: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1-heading {
  display: flex;
  justify-content: center;
}

:root {
  --blue: #1162ae;
  --red: #b41919;
  --green: #29d82b;
  --light-gray: #ececec;
  --dark-gray: #8f8e8e;

}