:root {
  --blue: #1162ae;
  --red: #b41919;
  --green: #29d82b;
  --lightgray: #ececec;
  --darkgray: #8f8e8e;

}

body,
h1,
p,
ul,
li,
div {
  font-family: Lato, Poppins, Opan Sans;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-home-area {
  overflow-y: auto;
  overflow-x: hidden;
}

.main-home-area::-webkit-scrollbar {
  display: none;
}

#nav-area {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.low-opacity {
  opacity: 0.4;
  filter: blur(2px);
  transition: 0.23s linear;
  background-color: #000000ce;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.overlayer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0000003a;
}

.loader-loadig-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  top: 50%;
  border-radius: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1-heading {
  display: flex;
  justify-content: center;
}